---
import Media from "../ui/Media.astro";
---

<section data-section="contact-cta">
  <div class="sc-billboard full-screen">
    <div class="main-image">
      <Media
        cover={"/media/contact-cta.webp"}
        coverMobile={"/media/contact-cta-mb.webp"}
        coverType="object-fit"
        alt="Deemak Thai Massage Contact CTA"
        title="Deemak Thai Massage"
      />
    </div>
    <div class="content">
      <div class="text-box animate fadeIn">
        <div class="header">
          <div class="ttl">
            <h2>Give the Gift of Massage</h2>
          </div>
          <div class="desc">
            <p>
              We have gift cards available for your friends and family, please
              give us a call to find out our current offers and options!
            </p>
          </div>
        </div>
        <a href="/contact" class="button"><span>Contact Us</span></a>
      </div>
    </div>
  </div>
</section>
