---
import ElServiceMarquee from "../common/el-ServiceMarquee.astro";
---

<section data-section="featured-treatment">
  <div class="sc-inner">
    <div class="container xl">
      <ElServiceMarquee />
    </div>
  </div>
</section>
