---
import { getJournals } from "@/services/journal";
import ElFeaturedJournalCard from "./el-FeaturedJournalCard.astro";

const journals = await getJournals();
---

<section data-section="featured-journals">
  <div class="sc-inner">
    <div class="container xl">
      <div class="sc-header justify-between">
        <div class="sc-ttl">
          <h2>The Journal</h2>
        </div>
      </div>

      <div class="card-container" data-card-layout="grid">
        {
          journals
            .slice(0, 3)
            .map((journal) => <ElFeaturedJournalCard journal={journal} />)
        }
      </div>
    </div>
  </div>
</section>
