---
import Media from "../ui/Media.astro";

const info = [
  {
    ttl: "Nurturing Atmosphere",
    desc: "Our serene environment is designed to soothe your senses and rejuvenate your spirit. With a focus on comfort and relaxation, we create a space that is both beautiful and welcoming.",
    svg: '<svg width="100" height="79" viewBox="0 0 100 79" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M100 31.8604C97.6888 58.2926 80.6559 74.2269 52.0426 78.9062C52.9867 46.1507 74.8291 36.8164 100 31.8604ZM30.8105 36.3688C32.6904 21.2809 35.2214 9.87956 50.2279 0C60.9701 8.49609 66.6423 13.5986 69.2952 36.5397C61.3851 38.4359 54.3294 46.9727 50.1383 60.0179C46.0938 47.1842 39.5833 39.445 30.8105 36.3688ZM74.6501 34.6842L71.7611 21.1263C76.6357 16.9434 85.1074 14.6647 93.4408 12.4756C93.6361 17.4642 92.8874 22.9492 92.3503 28.3529C85.8805 29.4352 80.0456 31.6325 74.6501 34.6842ZM25.5615 34.6842L28.4505 21.1263C23.5758 16.9434 15.1042 14.6647 6.77083 12.4756C6.57552 17.4642 7.32422 22.9492 7.86133 28.3529C14.3311 29.4352 20.1742 31.6325 25.5615 34.6842ZM0 31.8604C2.3112 58.2926 19.3441 74.2269 47.9574 78.9062C47.0133 46.1507 25.1709 36.8164 0 31.8604Z" fill="#581B2A"/></svg>',
  },
  {
    ttl: "Skilled Practitioners",
    desc: "Our team of skilled practitioners is dedicated to providing you with the highest quality of care. With years of experience and a commitment to excellence, we are here to help you achieve your health and wellness goals.",
    svg: '<svg width="80" height="84" viewBox="0 0 80 84" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M70.8083 66.3851C74.2205 70.9438 77.1646 74.7291 78.7588 79.0842C80.3122 83.3308 80.9431 85.2641 77.4156 80.8683C74.1323 76.771 71.0661 72.7889 66.5753 69.0104C66.2564 69.0851 65.924 69.1529 65.5645 69.2275C24.9709 77.2865 -4.59914 59.0248 0.590381 0C31.8632 10.8268 76.1471 6.43094 71.5613 61.9011C71.3985 63.9634 71.2425 65.3744 70.8083 66.3851ZM59.9137 57.5121C49.711 35.5329 23.4989 27.9963 10.4946 12.9636C24.6114 40.4986 32.3109 39.2843 59.9137 57.5121Z" fill="#581B2A"/></svg>',
  },
  {
    ttl: "Tailored Treatments",
    desc: "We offer a range of treatments that are designed to meet your individual needs and preferences. Whether you are looking for a relaxing massage or a more intensive treatment, we have a solution for you.",
    svg: '<svg width="62" height="80" viewBox="0 0 62 80" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_30_293)"><path d="M19.2941 45.6656C18.8644 45.3531 18.7668 44.7476 19.0793 44.318C19.3918 43.8883 19.9972 43.7906 20.4269 44.1031C21.755 45.0667 23.1353 45.7502 24.4243 46.1864C25.8957 46.6877 27.2173 46.87 28.1613 46.7919C28.6952 46.7463 29.1639 47.1435 29.203 47.6773C29.2485 48.2112 28.8514 48.6799 28.3175 48.719C27.1327 48.8232 25.5311 48.6083 23.7928 48.0159C22.3475 47.5211 20.785 46.7529 19.2941 45.6656ZM45.2577 53.387C46.9373 59.1943 45.5702 62.443 42.647 64.5393C39.4634 61.5901 39.0272 57.7229 41.5988 52.495C41.5011 52.4755 41.397 52.4625 41.2993 52.443C37.3084 55.5484 33.5715 56.3492 29.854 53.8622C29.9972 53.1461 30.2446 52.5081 30.5897 51.9482C24.6196 52.3779 18.7993 53.9273 14.3071 56.1734C9.48942 58.5823 2.82275 62.6773 2.82275 65.9521C2.82275 69.1617 5.94775 72.1044 10.6418 74.3375C15.9803 76.8765 26.6965 77.4755 33.8709 77.4755C40.772 77.4755 46.9894 75.9586 51.4686 73.5107C55.7199 71.1864 58.3436 68.0484 58.3436 64.6565C58.3436 61.5445 56.13 58.6474 52.4842 56.3948C49.5871 56.1995 47.1782 54.4156 45.2577 53.387ZM34.4438 49.3114C36.1756 48.8297 38.3761 48.706 41.0259 48.9338C36.5728 46.3883 34.3071 43.4651 35.9347 38.1331C39.5545 38.5172 42.6405 40.8479 43.7407 47.469C45.5571 42.3127 48.4933 38.8622 52.6925 39.051C53.5454 43.1591 52.4712 46.4729 46.3774 49.8062C49.6717 49.7997 52.4126 50.0862 54.2616 51.4599C55.4139 50.7437 56.3905 49.9495 57.1717 49.0966C58.4543 47.6969 59.1769 46.1344 59.1769 44.5068C59.1769 41.6422 56.9373 38.9859 53.3241 37.0068C49.4764 34.9039 44.1313 33.6018 38.2004 33.6018C32.0936 33.6018 26.0063 34.982 21.5337 37.1956C17.5428 39.1747 14.9061 41.7594 14.9061 44.5068C14.9061 45.6135 15.3423 46.7008 16.117 47.7294C17.0155 48.9143 18.3631 50.0211 20.0428 51.0107C20.1405 51.0693 20.2251 51.1344 20.3032 51.2125C24.548 50.0081 29.2485 49.3114 33.8905 49.3114C34.0662 49.3049 34.255 49.3049 34.4438 49.3114ZM55.8892 53.4065C56.1951 54.012 56.4295 54.7151 56.5858 55.5289C56.3905 55.6266 56.1952 55.7112 55.9998 55.7958C59.0793 58.2828 60.8761 61.3297 60.8761 64.6565C60.8761 69.038 57.7446 72.9443 52.6795 75.7177C47.8423 78.3609 41.1952 80.0015 33.8774 80.0015C26.3449 80.0015 15.2316 79.3114 9.57406 76.6161C4.00765 73.9599 0.303223 70.2489 0.303223 65.9456C0.303223 61.6161 7.52979 56.7463 13.1873 53.9208C14.4504 53.2893 15.811 52.7099 17.2433 52.189C15.9803 51.2841 14.9191 50.301 14.1183 49.2398C13.005 47.775 12.38 46.1799 12.38 44.5002C12.38 40.6917 15.5832 37.3323 20.4204 34.9299C21.3905 34.4482 22.4256 34.0055 23.5129 33.6083C21.6965 32.8792 20.0884 32.0133 18.8254 31.0497C16.8462 29.5328 15.6613 27.7359 15.6613 25.7112C15.6613 22.5341 18.6756 19.65 23.0376 17.5667C24.0662 17.0719 25.1795 16.6226 26.3449 16.219C25.9217 15.926 25.5311 15.6135 25.186 15.2815C24.1899 14.318 23.5389 13.1721 23.3241 11.8765C22.8879 9.25936 24.3267 6.64217 27.0024 4.53931C29.4764 2.5992 33.0571 1.04972 37.1587 0.366131C41.2603 -0.317463 45.147 -0.0179838 48.1157 1.01717C51.3319 2.13696 53.5454 4.14217 53.9816 6.75936C54.3332 8.87525 53.4673 10.9846 51.703 12.8271C50.7459 13.8297 49.5155 14.7607 48.0767 15.568C49.4569 16.0172 50.7264 16.5575 51.8592 17.176C55.5246 19.1812 57.7967 22.0328 57.7967 25.2489C57.7967 27.1044 56.8722 28.9469 55.3748 30.5745C54.3787 31.6552 53.1222 32.6448 51.7095 33.4846C52.7056 33.8818 53.6496 34.318 54.522 34.7997C58.9556 37.2281 61.6965 40.6526 61.6965 44.5068C61.6965 46.7854 60.7329 48.9208 59.0207 50.7958C58.1678 51.7333 57.1066 52.6122 55.8892 53.4065ZM27.6209 32.3583C30.9543 31.538 34.5806 31.0758 38.2004 31.0758C41.8332 31.0758 45.2837 31.5445 48.3501 32.3713C48.3827 32.3583 48.4087 32.3388 48.4412 32.3258C50.453 31.4599 52.2563 30.2359 53.5259 28.8687C54.6131 27.6903 55.2772 26.4338 55.2772 25.2489C55.2772 23.0224 53.5129 20.9456 50.6613 19.3831C48.897 18.4195 46.742 17.6643 44.3267 17.1956C44.0662 17.2281 43.8058 17.1825 43.578 17.0588C41.9829 16.7919 40.2902 16.6552 38.5324 16.6552C33.5715 16.6552 28.1743 17.9117 24.1248 19.8453C20.6157 21.5185 18.1873 23.6278 18.1873 25.7112C18.1873 26.8765 19.0011 28.0094 20.3553 29.0445C22.0675 30.3531 24.5675 31.4599 27.4321 32.2802C27.4972 32.3062 27.5623 32.3323 27.6209 32.3583ZM29.88 15.1969C32.7056 14.5198 35.6873 14.1357 38.5324 14.1357C40.492 14.1357 42.3866 14.3049 44.1769 14.6109C46.5923 13.706 48.578 12.4755 49.8931 11.0953C51.1105 9.82577 51.7225 8.45858 51.5077 7.17603C51.2342 5.5354 49.6457 4.21379 47.3019 3.39347C44.7303 2.49504 41.3123 2.24113 37.66 2.84009C37.6079 2.85311 37.5558 2.85962 37.5037 2.86613C33.8579 3.48462 30.7134 4.83879 28.5649 6.52498C26.6118 8.06144 25.5376 9.83228 25.811 11.4664C25.9347 12.2086 26.3319 12.8857 26.9438 13.4846C27.647 14.1682 28.6366 14.7411 29.8345 15.1838C29.8475 15.1773 29.8605 15.1838 29.88 15.1969ZM13.4087 61.3622C13.6561 60.887 14.242 60.7112 14.7108 60.9586C15.186 61.206 15.3618 61.7919 15.1144 62.2607C14.6131 63.2112 14.4764 64.4286 14.5806 65.6135C14.7043 66.9742 15.1405 68.2503 15.7264 69.012C16.0519 69.4351 15.9673 70.0406 15.5441 70.3661C15.1209 70.6917 14.5155 70.607 14.1899 70.1838C13.4022 69.1552 12.8097 67.5015 12.66 65.7828C12.5298 64.2659 12.7251 62.6708 13.4087 61.3622Z" fill="#581B2A"/></g><defs><clipPath id="clip0_30_293"><rect width="61.3932" height="80.0031" fill="white" transform="translate(0.303223 -0.00152588)"/></clipPath></defs></svg>',
  },
];
---

<section data-section="homepage-info">
  <div class="sc-inner">
    <div class="container xl">
      <div class="content">
        <div class="heading">
          <div class="sc-header vertical">
            <div class="sc-ttl animate fadeIn">
              <h2>Your Oasis of<br />Relaxation</h2>
            </div>

            <a href="/about" class="button animate fadeIn">
              <span>Learn More About Us</span></a
            >
          </div>

          <div class="heading-image animate fadeIn">
            <Media
              cover={"/media/index-info.webp"}
              coverMobile={"/media/index-info-mb.webp"}
              coverType="object-fit"
              alt="Deemak Thai Massage Information picture"
              title="Deemak Thai Massage"
            />
          </div>
        </div>
        <div class="info">
          {
            info.map((item) => (
              <div class="card animate fadeIn" data-card="index-info">
                <div class="card-content">
                  <div class="card-ttl">
                    <h4>{item.ttl}</h4>
                  </div>
                  <div class="card-des">
                    <p>{item.desc}</p>
                  </div>
                </div>

                <div class="card-svg" set:html={item.svg} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
