/* PAGE */
/* PAGE: INDEX */

/* SECTION */
/* SECTION: FEATURED TREATMENT */
[data-section="featured-treatment"] .sc-header {
  margin-top: var(--gap-section);
}

[data-section="featured-treatment"] .card-container.pc-slide {
  --column: 2;
  --gap-y: var(--spacing-lg);
  --gap-x: var(--spacing-lg);
}

[data-card="featured-service"] {
  aspect-ratio: 1.9053254438;
  overflow: hidden;
}

[data-card="featured-service"] .cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--color-black-rgb), 0.5);
  z-index: 1;
  transition: var(--duration) var(--timing-function);
}

html.no-touchevents [data-card="featured-service"]:hover .cover {
  scale: 1.1;
}

html.no-touchevents [data-card="featured-service"]:hover .cover::before {
  background-color: rgba(var(--color-black-rgb), 0.25);
}

[data-card="featured-service"] .card-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: var(--color-white);
  font-family: var(--font-body);
  width: 100%;
  text-align: center;
  padding: 0 var(--spacing-md);
}

@media (max-width: 991px) {
  [data-section="featured-treatment"] .card-container.mb-slide {
    --column: 1.3;
    --gap-y: var(--spacing-3xs);
  }

  [data-section="featured-treatment"] .card-container.mb-slide .swiper {
    overflow: visible;
  }

  [data-card="featured-service"] {
    aspect-ratio: 0.7792207792;
  }
}

/* SECTION: INDEX BANNER */
[data-section="index-banner"] .sc-billboard {
  aspect-ratio: 2;
}

[data-section="index-banner"] .cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to top, var(--color-black), transparent);
}

[data-section="index-banner"] .button {
  position: absolute;
  bottom: var(--spacing-xl);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 991px) {
  [data-section="index-banner"] .sc-billboard {
    aspect-ratio: 0.75;
  }

  [data-section="index-banner"] .cover::before {
    height: 50%;
  }

  [data-section="index-banner"] .button {
    bottom: var(--spacing-md);
  }
}

/* SECTION: INDEX INFO */
[data-section="homepage-info"] .content {
  display: flex;
  grid-gap: var(--spacing-7xl);
}

[data-section="homepage-info"] .content .heading {
  flex-grow: 1;
}

[data-section="homepage-info"] .heading .heading-image {
  aspect-ratio: 0.6153846154;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

[data-section="homepage-info"] .content .info {
  width: 43.85964912%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  grid-gap: var(--spacing-4xl);
}

[data-card="index-info"] {
  background-color: var(--color-white);
  padding: var(--spacing-4xl) var(--spacing-lg);
  padding-left: var(--spacing-5xl);
  position: relative;
}

[data-card="index-info"] .card-content {
  grid-gap: var(--spacing-md);
}

[data-card="index-info"] .card-svg {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 14.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-peach);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

[data-card="index-info"] .card-svg svg {
  max-width: 8rem;
  max-height: 8rem;
}

@media (max-width: 991px) {
  [data-section="homepage-info"] .content {
    flex-direction: column;
    grid-gap: var(--spacing-3lg);
  }

  [data-section="homepage-info"] .content .heading {
    width: 100%;
  }

  [data-section="homepage-info"] .heading .heading-image {
    width: 100vw;
    margin-left: calc(-1 * var(--spacing-container));
    aspect-ratio: 1.5;
    box-shadow: unset;
  }

  [data-section="homepage-info"] .content .info {
    width: 100%;
    grid-gap: var(--spacing-2lg);
  }

  [data-card="index-info"] {
    padding: var(--spacing-sm);
  }

  [data-card="index-info"] .card-content {
    grid-gap: var(--spacing-sm);
  }

  [data-card="index-info"] .card-content .card-ttl {
    max-width: 50%;
  }

  [data-card="index-info"] .card-svg {
    width: 10rem;
    right: 0;
    top: 0;
    transform: translate(10%, -35%);
    left: unset;
  }

  [data-card="index-info"] .card-svg svg {
    max-width: 6rem;
    max-height: 6rem;
  }
}

/* SECTION: CONTACT CTA */
[data-section="contact-cta"] .sc-billboard {
  background-color: var(--color-peach);
  display: flex;
}

[data-section="contact-cta"] .sc-billboard .main-image {
  width: 65.2083333333%;
}

[data-section="contact-cta"] .sc-billboard .content {
  width: 34.7916666667%;
  display: flex;
  align-items: center;
}

[data-section="contact-cta"] .content .text-box {
  width: 120%;
  margin-left: calc(-1 * (20% + var(--spacing-container)));
  padding: var(--spacing-2sm);
  background-color: var(--color-white);
  position: relative;
  z-index: 2;
}

[data-section="contact-cta"] .text-box .header {
  margin-bottom: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  grid-gap: var(--spacing-2xs);
}

@media (max-width: 991px) {
  [data-section="contact-cta"] .sc-billboard {
    flex-direction: column;
  }

  [data-section="contact-cta"] .sc-billboard .main-image {
    width: 100%;
    aspect-ratio: 0.8666666667;
  }

  [data-section="contact-cta"] .sc-billboard .content {
    width: 100%;
    justify-content: center;
    padding: var(--spacing-2lg) var(--spacing-container);
  }

  [data-section="contact-cta"] .content .text-box {
    width: 100%;
    margin-left: 0;
  }
}
