/* PAGE */
/* PAGE: SERVICES */

/* SECTION */
/* SECTION: SERVICES LIST */
[data-section="services-list"] .card-container {
  --column: 3;
  --gap-y: var(--spacing-sm);
  --gap-x: var(--spacing-sm);
}

.card[data-card="service"] .card-image {
  aspect-ratio: 1;
}

.card[data-card="service"] .card-content {
  margin-top: var(--spacing-sm);
}

.card[data-card="service"]:is(:nth-child(1), :nth-child(5)) .card-image {
  height: 100%;
  aspect-ratio: unset;
}

.card[data-card="service"]:is(:nth-child(1), :nth-child(5)) .card-content {
  --gap: var(--spacing-4xs);
  position: absolute;
  padding: var(--spacing-2xs) var(--spacing-sm);
  background-color: rgba(var(--color-white-rgb), 0.5);
  backdrop-filter: blur(10px);
  bottom: var(--gap);
  left: var(--gap);
  width: calc(100% - var(--gap) * 2);
  z-index: 1;
}

[data-section="services-list"] .service-cta {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-theme);
  color: var(--color-white);
  border-radius: 50%;
  width: 30rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-3xs);
}

@media (min-width: 992px) {
  .card[data-card="service"]:nth-child(5) {
    grid-column: span 2;
  }
}

@media (max-width: 991px) {
  [data-section="services-list"] .card-container {
    --column: 2;
  }

  .card[data-card="service"] .card-image {
    aspect-ratio: 0.9;
  }

  .card[data-card="service"] .card-content {
    --gap: var(--spacing-5xs) !important;
    position: absolute;
    padding: var(--spacing-4xs) !important;
    background-color: rgba(var(--color-white-rgb), 0.5);
    backdrop-filter: blur(10px);
    bottom: var(--gap);
    left: var(--gap);
    width: calc(100% - var(--gap) * 2);
    z-index: 1;
  }

  .card[data-card="service"] .card-content .card-ttl > * {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }

  [data-section="services-list"] .service-cta {
    position: static;
    border-radius: unset;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
