/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 391px) {
  .hidden-device-2xs {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-device-xs {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-device-sm {
    display: none !important;
  }

  :root {
  }
}

@media (min-width: 992px) {
  .hidden-device-md {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .hidden-device-lg {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .hidden-device-xl {
    display: none !important;
  }

  :root {
    --font-size-h1: 8rem;
    --font-size-h2: 6rem;
    --font-size-h3: 4.8rem;
    --font-size-h4: 3.6rem;
    --font-size-h5: 2.8rem;
    --font-size-body: 2rem;
    --font-size-small: 1.6rem;
  }
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 1439px) {
  .show-xl {
    display: none !important;
  }
}

@media (max-width: 1279px) {
  .show-lg {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .show-md {
    display: none !important;
  }

  :root {
    --header-height: min(7.6388888889vw, 11rem);
  }

  /* HEADER ==================== */

  /* FOOTER ==================== */

  /* COMPONENT */
  /* DEFAULT ====================*/

  /* SECTION ====================*/

  /* ELEMENT ====================*/

  /* PAGE */
  /* PAGE: INDEX */
}

@media (max-width: 767px) {
  .show-sm {
    display: none !important;
  }
}

@media (max-width: 575px) {
  .show-xs {
    display: none !important;
  }
}

@media (max-width: 390px) {
  .show-2xs {
    display: none !important;
  }
}
