@media (max-width: 991px) {
  .panel {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: calc(100dvh - var(--header-height));
    max-height: 100dvh;
    overflow: hidden;
    background-color: var(--color-white);
    z-index: 95;
    transform: translateX(100%);
    transition: transform var(--duration-x2) cubic-bezier(0.83, 0, 0.17, 1);
  }

  .panel-overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: 90;
    width: 100vw;
    height: calc(100dvh - var(--header-height));
    background-color: rgba(var(--color-black-rgb), 0.75);
    opacity: 0;
    transition: opacity var(--duration) var(--timing-function);
    pointer-events: none;
  }

  html.header-menu-enabled .panel {
    transform: translateX(0);
  }

  html.header-menu-enabled .panel-overlay {
    opacity: 1;
  }

  .panel-scroll {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    -webkit-mask-box-image: -webkit-linear-gradient(
      -90deg,
      transparent 0%,
      white var(--spacing-20),
      white calc(100% - var(--spacing-36)),
      transparent 100%
    );
  }
}
