---
import { Images } from "@/constant/Images";
import { Image } from "astro:assets";

const isIndexPage = Astro.url.pathname === "/";
---

<header id="header" class=`${isIndexPage && "index at-top"}`>
  <div class=`header-nav`>
    <!-- Logo -->
    <div class="header-logo">
      <a href="/">
        <Image
          src={Images.Logo}
          alt="Logo"
          draggable="false"
          class="main-logo"
        />
        <Image
          src={Images.LogoPeach}
          alt="Logo"
          draggable="false"
          class="index-logo"
        />
      </a>
    </div>

    <!-- Menu -->
    <div class="header-menu">
      <div class="panel-overlay hidden-device-md"></div>
      <div class="panel">
        <div class="wrapper">
          <div class="panel-scroll" data-lenis-prevent>
            <div class="panel-container">
              <div class="panel-body">
                <ul class="menu">
                  <li><a href="/services">Services</a></li>
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/journals">Journals</a></li>
                  <li><a href="/location">Location</a></li>
                </ul>

                <div class="panel-footer hidden-device-md"></div>
              </div>
              <div class="panel-footer hidden-device-md">
                <div class="social">
                  <i class="ic ic-instagram"></i>
                  <i class="ic ic-facebook"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CTA -->
    <div class="header-cta">
      <a href="#outer" class="button show-md"> <span>Book Now</span></a>
      <a href="#outer" class="book-mobile hidden-device-md"
        ><i class="ic ic-book"></i></a
      >
    </div>

    <!-- Menu Ctrl -->
    <div class="header-menu-ctrl hidden-device-md">
      <a class="ctrl" href="javascript:;">
        <span class="hamburger">
          <span class="bars">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

<style>
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }

  #header:not(.at-top) {
    background: linear-gradient(
      180deg,
      rgba(var(--color-peach-rgb), 1) 0%,
      rgba(var(--color-peach-rgb), 1) 90%,
      rgba(var(--color-peach-rgb), 0.25) 100%
    );
  }

  #header:not(.index) .header-logo .index-logo {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-container);
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-2sm);
    max-width: var(--container-max-width-xl);
    margin: 0 auto;
  }

  .header-logo {
    height: 5.6rem;
    aspect-ratio: 4.1785714286;
    margin-right: var(--spacing-lg);
  }

  .header-menu {
    flex-grow: 1;
  }

  .header-menu .menu {
    display: flex;
    grid-gap: var(--spacing-lg);
    align-items: center;
  }

  html.no-touchevents .header-menu .menu a:hover {
    color: var(--color-theme);
    opacity: 0.5;
  }

  .header-nav {
    background: linear-gradient(
      180deg,
      rgba(var(--color-peach-rgb), 1) 0%,
      rgba(var(--color-peach-rgb), 1) 90%,
      rgba(var(--color-peach-rgb), 0.25) 100%
    );
  }

  .header-nav .index-logo {
    cursor: pointer;
  }

  @media (min-width: 992px) {
    .header-nav .index-logo {
      display: none;
    }
  }

  @media (max-width: 991px) {
    #header.index.at-top {
      --hamburger-background: var(--color-peach);
    }

    #header.index.at-top .header-nav {
      background: transparent;
    }

    #header.index.at-top .header-cta .book-mobile {
      color: var(--color-peach);
    }

    #header.index.at-top .main-logo {
      display: none;
    }

    #header.index:not(.at-top) .index-logo {
      display: none;
    }

    #header.index.at-top .header-logo {
      aspect-ratio: 1.09090909091;
      height: var(--spacing-4xl);
    }

    #header.index:not(.at-top) .header-logo {
      height: var(--spacing-lg);
    }

    .header-nav {
      display: flex;
      align-items: center;
      padding: var(--spacing-sm) var(--spacing-container);
    }

    .header-cta .book-mobile {
      color: var(--color-theme);
    }

    .header-cta .book-mobile .ic-book:before {
      font-size: var(--icon-size-md);
    }

    .header-logo {
      order: 2;
      margin: 0 auto;
    }

    .header-menu {
      flex-grow: 0;
    }

    .header-menu .menu {
      flex-direction: column;
      color: var(--color-peach);
      align-items: flex-start;
      font-size: var(--font-size-h5);
      line-height: var(--line-height-h5);
    }

    .panel-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: var(--spacing-lg) var(--spacing-container);
      padding-top: var(--spacing-6xl);
    }

    .panel-footer .social {
      color: var(--color-peach);
    }

    .header-menu-ctrl {
      order: 3;
    }
  }
</style>
