---
import Media from "../ui/Media.astro";
---

<section data-section="owner">
  <div class="sc-inner sc-inner--top-extra">
    <div class="container xl">
      <div class="content">
        <div class="owner-text">
          <div class="quote">
            <p>
              Here, it's all about making you feel relaxed, refreshed, and ready
              to take on life.
            </p>
          </div>
          <div class="subttl">
            <p>Aunt Tou, Owner</p>
          </div>
        </div>

        <div class="owner-image animate fadeIn">
          <Media
            cover="/media/owner.webp"
            coverMobile="/media/owner-mb.webp"
            coverType="object-fit"
            alt="Dee Mak Thai Massage Owner"
            title="Dee Mak Thai Massage Owner"
          />
        </div>
      </div>
    </div>
  </div>
</section>
