---
import Layout from "@/layouts/Layout.astro";
import PortableTextBody from "@/components/ui/PortableTextBody.astro";
import { myPortableTextComponents } from "@/components/ui/PortableTextComponents";

import { getServices } from "@/services/service";
import {
  getJournalCategories,
  getJournals,
  getJournalAuthors,
} from "@/services/journal";
import { urlFor } from "@/lib/sanity";

import type {
  Journal,
  JournalAuthor,
  JournalCategory,
  Service,
} from "~/sanity/sanity.types";

const services: Service[] = await getServices();
const categories: JournalCategory[] = await getJournalCategories();
const journals: Journal[] = await getJournals();
const authors: JournalAuthor[] = await getJournalAuthors();
---

<Layout title="Deemak Thai Massage">
  <main>
    <h1 class="font-heading">Heading</h1>
    <p class="font-body">body</p>
    <i class="ic ic-person"></i>

    <section style="height: 200vh;"></section>
  </main>
</Layout>

<style></style>
