---
import Layout from "@/layouts/Layout.astro";

import { getServices } from "@/services/service";
import {
  getJournalCategories,
  getJournals,
  getJournalAuthors,
} from "@/services/journal";
import { urlFor } from "@/lib/sanity";

import type {
  Journal,
  JournalAuthor,
  JournalCategory,
  Service,
} from "~/sanity/sanity.types";

import HomepageHero from "@/components/homepage/HomepageHero.astro";

const services: Service[] = await getServices();
const categories: JournalCategory[] = await getJournalCategories();
const journals: Journal[] = await getJournals();
const authors: JournalAuthor[] = await getJournalAuthors();
---

<Layout title="Deemak Thai Massage">
  <main>
    <HomepageHero />

    <section style="height: 100svh;"></section>
  </main>
</Layout>

<style></style>
