---
import Layout from "@/layouts/Layout.astro";

import "@/styles/index.css";
import Media from "@/components/ui/Media.astro";
import ScHomepageHero from "@/components/homepage/sc-HomepageHero.astro";
import ScFeaturedTreatment from "@/components/homepage/sc-FeaturedTreatment.astro";
import ScHomepageInfo from "@/components/homepage/sc-HomepageInfo.astro";
import ScContactCta from "@/components/homepage/sc-ContactCta.astro";
import ScFeaturedJournals from "@/components/homepage/sc-FeaturedJournals.astro";
---

<Layout
  title="Deemak Thai Massage"
  description="Deemak Thai Massage is a massage therapy center that offers a range of massage services to help you relax and rejuvenate."
>
  <main>
    <ScHomepageHero />

    <ScFeaturedTreatment />

    <section data-section="index-banner">
      <div class="sc-billboard">
        <div class="cover animate matrixZoomOut">
          <Media
            cover={"/media/deemak-store-front.webp"}
            coverMobile={"/media/deemak-store-front-mb.webp"}
            coverType="object-fit"
            alt="Deemak Thai Massage Store Front"
            title="Deemak Thai Massage"
          />
        </div>

        <div class="cta animate fadeIn">
          <a href="/location" class="button secondary"><span>Location</span></a>
        </div>
      </div>
    </section>

    <ScHomepageInfo />

    <ScContactCta />

    <ScFeaturedJournals />
  </main>
</Layout>

<style></style>
