---
import type { Service } from "~/sanity/sanity.types";

type Props = {
  services: Service[];
};

const { services }: Props = Astro.props;
---

<div class="marquee">
  {
    [...Array(2)].map((_, i) => (
      <ul aria-hidden={i === 1}>
        {services.map((service) => (
          <li class="marquee-item">
            <p>
              {service.title} <span />
              &mdash;&mdash;
            </p>
          </li>
        ))}
      </ul>
    ))
  }
</div>
