---
import { getServices } from "@/services/service";

import type { Service } from "~/sanity/sanity.types";

const services: Service[] = await getServices();
---

<div class="marquee">
  {
    [...Array(2)].map((_, i) => (
      <ul aria-hidden={i === 1}>
        {services.map((service) => (
          <li class="marquee-item">
            <p>
              {service.title} <span />
              &mdash;&mdash;
            </p>
          </li>
        ))}
      </ul>
    ))
  }
</div>

<style>
  .marquee {
    width: 100vw;
    margin-left: calc(-1 * var(--spacing-container));
    margin-right: calc(-1 * var(--spacing-container));
    --gap-y: var(--spacing-2lg);
  }

  .marquee ul {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    list-style: none;
    background-color: var(--color-peach);
    padding: var(--spacing-2sm) 0;
    justify-content: space-between;
    animation: scroll 20s linear infinite;
  }

  .marquee:hover ul {
    animation-play-state: paused;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap-y)));
    }
  }

  .marquee-item {
    display: flex;
    align-items: center;
    grid-gap: var(--gap-y);
    padding-left: calc(var(--gap-y) / 2);
    padding-right: calc(var(--gap-y) / 2);
  }

  .marquee-item > p {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    color: var(--color-deep-red);
    text-wrap: nowrap;
  }

  .marquee-item > p > span {
    display: inline-block;
    width: var(--gap-y);
    height: 0;
  }

  /* .marquee-item > p:after {
    content: "";
    display: block;
    width: var(--spacing-xl);
    height: 0.3rem;
    background-color: var(--color-deep-red);
  } */
</style>
