---
import BaseHead from "@/components/layout/BaseHead.astro";
import BaseBodyWrapper from "@/components/layout/BaseBodyWrapper.astro";

import "@/styles/theme.css";
import "@/styles/theme-rwd.css";
import "@/styles/theme-default.css";
import "@/styles/iconfont.css";
import "@/styles/library/animate.min.css";

type Props = {
  title: string;
  description?: string;
  bodyClass?: string;
  image?: string;
};

const { title, description, bodyClass, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <meta name="msapplication-TileColor" content="#F9EBEF" />
    <meta name="theme-color" content="#F9EBEF" />
  </head>
  <body class={bodyClass}>
    <BaseBodyWrapper>
      <slot />
    </BaseBodyWrapper>
  </body>
</html>

<style is:global></style>
